<!DOCTYPE html>
<html>
<head>
  <title>Blorgh</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='row'>
    <div class= pull-right'>
      <%= render "subscribem/shared/login" %>
    </div>
  </div>
<div class='row'>
  <div class='col-xs-10 col-md-8 col-md-offset-2 col-xs-offset-1'>
    <div class='row'>
      <div class='pull-right'>
      </div>
    </div>
    <div class='row'>
      <% flash.each do |key, text| %>
        <div class='flash flash-<%= key %>'><%= text %></div>
      <% end %>
    </div>
    
    <h1><%= link_to 'My blog', root_path %></h1>
    <p>Read all about it!</p>
    <%= yield %>
  </div>
</div>

</body>
</html>
